{% extends "layout.html" %}
{% block body %}

<!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2 class="">About Us</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p>
             <h5> Sections in the Gram Panchayat Act :-</h5>
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> <span>ग्रामपंचायतीचे कामकाज पार पाडण्यासाठी गावातील लोक लोकसंख्येच्या प्रमाणात त्यांचे प्रतिनिधी खालीलप्रमाणे थेट मतदानाने निवडतील.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>या सदस्यांचे मतदान प्रौढ आणि गुप्त मतपत्रिकेद्वारे केले जाईल.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>डोंगराळ भागातील 300 ते 1500 लोकसंख्येमध्ये सात सदस्य असतात.</span></li>
              <li><i class="bi bi-check2-circle"></i><span>कृषी व पत सहकारी संस्थांच्या अध्यक्षांना सहयोगी सभासद म्हणून घेता येईल. मात्र त्यासाठी ग्रामपंचायतीची परवानगी लागते, ही पद्धत आता बंद करण्यात आली आहे.</span></li>
            </ul>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <p>
              Establishment of Rural Development Department dt. Dated 1 May 1960. Rural Development Department of Maharashtra is working for overall development of rural areas. Nationalist villages should be autonomous, all facilities should be available and different types of facilities should be available, clean, beautiful and green villages to carry out various activities, Maharashtra State Rural Life Mission to carry out poverty alleviation activities, providing independent shelter and shelter facilities for Indra residents, providing training, The main objective of this department is to carry out development programs, empower people, strengthen Panchayati governance.

For the development of the rural areas of this division and various welfare schemes, activities for the citizens, Raab Elections. Zilla Parishad Panchayat Samiti as well as local government bodies like Gram Swamyant etc. are also included in the development committee. The objective of this department is to develop a strong Panchayat Raj system, achieve inclusive and sustainable rural development.
            </p>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

{% endblock %}