{% extends "layout_admin.html" %}
{% block body %}

<br><br>
<h1 style="padding-left:50px">My Complaints</h1>
<div style="margin-left:40px;margin-right:40px;">
       <table class="table table table-hover table-bordered shadow" id="admin_event_table">
           <tr class="table-primary">
               <th>Sr. No.</th>
               <th>Name</th>
               <th>Email</th>
               <th>Mobile</th>
               <th>Title</th>
               <th>Message</th>
               <th>Date</th>
               <th>complaint Image</th>
               <th>Download</th>
               <th>Status</th>
               <th>Change Status</th>
           </tr>
            {% set index = 1 %}
            {% for comp in comp_data %}
            <tr class="table-light">
                <td>{{ loop.index }}</td>
                <td>{{comp.name}}</td>
                <td>{{comp.email}}</td>
                <td>{{comp.mobile}}</td>
                <td>{{comp.title}}</td>
                <td>{{comp.message}}</td>
                <td>{{comp.com_date}}</td>
                <td><img src="/static/upload/{{comp.image}}" height="70px" width="120px"></td>
                <td><a href="/admin_downloadCompImg?img={{comp.image}}" class="btn btn-success">Download</a></td>
                <td>{{comp.status}}</td>
                <td>
                    <table class="table table-borderless">
                        <tr>
                            <td><a href="/admin_changeCompStatus?cid={{comp.cid}}&status=Pending" class="btn btn-warning">Pending</a></td>
                            <td><a href="/admin_changeCompStatus?cid={{comp.cid}}&status=Reject" class="btn btn-danger">Reject</a></td>
                        </tr>
                        <tr>
                            <td><a href="/admin_changeCompStatus?cid={{comp.cid}}&status=In Process" class="btn btn-info">In Process</a></td>
                            <td><a href="/admin_changeCompStatus?cid={{comp.cid}}&status=Completed" class="btn btn-success">Completed</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% set index = index + 1 %}
            {% endfor %}
            </table>
            </div>


{% endblock %}